<%= stylesheet_link_tag "facebook" %>

<div class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <!-- Facelook Header -->
    <div class="navbar-header">
      <%= link_to "Facelook", facebook_home_path, :class => "navbar-brand" %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
        <i class="glyphicon glyphicon-search"></i>
      </button>

    </div>
    <!-- Search and right buttons -->
    <div class="collapse navbar-collapse" id="navbar-collapse1">

      <!-- Search form-->
      <form class="navbar-form navbar-left">
        <div class="input-group" style="max-width:470px;margin-top: 5px;margin-left: 20px">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

          <div class="input-group-btn">
            <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navigation buttons -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to ({:action => :profile}) do %>
              <i class="glyphicon glyphicon-user" style="color:#5cdd21;"></i> <%= user.name %>
          <% end %>
        </li>
        <li>
          <%= link_to ({:action => :home}) do %>
              <i class="glyphicon glyphicon-th-large" style="color:#0000aa;"></i> News Feed
          <% end %>
        </li>
        <li>
          <%= link_to ({:action => :home}) do %>
              <i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings
          <% end %>
        </li>
        <li>
          <a href="#aboutModal" role="button" data-toggle="modal">
            <i class="glyphicon glyphicon-info-sign" style="color:#34a9dd;"></i> About</a>
        </li>
        <li>
          <%= link_to ({:action => :log_out}) do %>
              <i class="glyphicon glyphicon-log-out" style="color:#ddcc00;"></i> Log Out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- ABOUT DIALOG -->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">About</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
  1
</div>





