<!-- LEFT COLUMN -->
<div class="col-md-3 col-sm-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#msgModal" role="button" data-toggle="modal" class="pull-right">View All</a>
      <h4><i class="glyphicon glyphicon-inbox" style="color:#dd0309"></i>&nbsp;Messages</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% msgs = get_n_messages(@user) %>
        <% if !msgs.empty? %>
            <% msgs.each do |m| %>
                <% if m.user_id == @user.id %>
                    <% friend = get_user(m.to_user_id) %>
                <% else %>
                    <% friend = get_user(m.user_id) %>
                <% end %>
                <li style="margin-top: 3px">
                  <div class="row clearfix">
                    <div class="col-sm-3 src-res-img" style="margin-right: 5px">
                      <% if friend.img_id %>
                          <%= cl_image_tag friend.img_id, :width => 50, :height => 50, :class => 'center-block' %>
                      <% else %>
                          <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
                      <% end %>
                    </div>
                    <div class="col-md-8 src-res-group">
                      <p class="src-res-name"><%= "#{friend.name} #{friend.last_name}" %></p>
                      <p class="src-res-info text-overflow-hidden">
                        <%= m.message %>
                      </p>
                    </div>
                  </div>
                </li>
            <% end %>
        <% else %>
            <p class="text-center text-info">No Message</p>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#notificationModal" role="button" data-toggle="modal" class="pull-right">View All</a>
      <h4><i class="glyphicon glyphicon-bell" style="color:#dd0309"></i>&nbsp;Notifications</h4>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <% if @user && !@user.notifications.empty? %>
            <% @user.notifications.each do |n| %>
                <li id="notif_id_<%= n.id %>" style="margin-top: 3px">
                  <div class="row clearfix">
                    <% friend = get_user(n.friend_id) %>
                    <div class="col-sm-3 src-res-img" style="margin-right: 5px">
                      <% if friend.img_id %>
                          <%= cl_image_tag friend.img_id, :width => 50, :height => 50, :class => 'center-block' %>
                      <% else %>
                          <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
                      <% end %>
                    </div>
                    <div class="col-md-8 src-res-group">
                      <span style="font-size: 15px"><%= "#{friend.name} #{friend.last_name}" %></span>
                      <span style="font-size: 13px">&nbsp;<%= create_notif_text(n.notif_type) %>&nbsp;:&nbsp;</span>
                      <span class="text-overflow-hidden" style="font-size: 13px"><%= n.content %></span>
                    </div>
                  </div>
                </li>
            <% end %>
        <% else %>
            <p class="text-center text-info">No Notification</p>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<!-- NOTIFICATION DIALOG -->
<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Notifications</h2>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <% if @user && !@user.notifications.empty? %>
              <% @user.notifications.each do |n| %>
                  <li id="notif_id_<%= n.id %>" style="margin-top: 3px">
                    <div class="row clearfix">
                      <% friend = get_user(n.friend_id) %>
                      <div class="col-sm-2 src-res-img" style="margin-right: 5px">
                        <% if friend.img_id %>
                            <%= cl_image_tag friend.img_id, :width => 50, :height => 50, :class => 'center-block' %>
                        <% else %>
                            <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
                        <% end %>
                      </div>
                      <div class="col-sm-9 src-res-group">
                        <%= link_to "×", facebook_delete_notif_path(:notif_id => n.id), :remote => true, :class => 'close',
                                    :style => 'width:12px;margin:0px;font-size:16px;font-weight:normal', :method => 'delete' %>
                        <span style="font-size: 15px"><%= "#{friend.name} #{friend.last_name}" %></span>
                        <span style="font-size: 13px">&nbsp;<%= create_notif_text(n.notif_type) %>&nbsp;:&nbsp;</span>
                        <span style="font-size: 13px;overflow-wrap: break-word"><%= n.content %></span>
                      </div>
                    </div>
                  </li>
              <% end %>
          <% else %>
              <p class="text-center text-info">No Notification</p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- MSG DIALOG -->
<div id="msgModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 60%;max-height: 100%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Messages</h2>
      </div>
      <div class="modal-body">
        <!-- THE PANEL FOR NAMES OF FRIENDS -->
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-inbox" style="color:#dd0309"></i>&nbsp;Inbox</h4>
              </div>
              <div class="panel-body">
                <ul class="list-unstyled">
                  <% if @user && !@user.friends.empty? %>
                      <% get_friends.each do |f| %>
                          <li>
                            <%= link_to facebook_get_messages_path(:friend_id => f.id), :remote => true, :id => 'msg-inbox-link' do %>
                                <div class="row clearfix" id="msg-inbox-div">
                                  <div class="col-sm-4 src-res-img">
                                    <% if f.img_id %>
                                        <%= cl_image_tag f.img_id, :width => 50, :height => 50, :class => 'center-block' %>
                                    <% else %>
                                        <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
                                    <% end %>
                                  </div>
                                  <div class="col-md-6 src-res-group">
                                    <p class="src-res-name"><%= "#{f.name} #{f.last_name}" %></p>
                                  </div>
                                </div>
                            <% end %>
                          </li>
                      <% end %>
                  <% else %>
                      <p class="notice">No Friends</p>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <!-- MESSAGES PANEL FOR SELECTED FRIEND -->
          <div class="col-md-8">
            <!-- All messages of selected friend will be shown -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-send" style="color:#dd0309"></i>&nbsp;Messages</h4>
              </div>
              <div class="panel-body" id="msg-container">
                <ul class="list-unstyled" id="msg-list">
                  <p class="text-info text-center"> Select a friend to communicate from inbox :)</p>
                </ul>
              </div>
              <div class="panel-footer">
                <div class="input-group-btn">
                  <%= form_tag(facebook_send_message_path, :method => 'post', :remote => true) do %>
                      <%= text_field_tag :message, nil, :placeholder => "Send Message...", :class => 'form-control' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>