<% if is_home == false %>
    <% posts = user.posts.all.reverse %>
<% else %>
    <% posts = get_home_posts() %>
<% end %>
<!-- Show users posts -->
<!-- If home page, then show last post of user(in home page) -->
<!-- Else show all posts of user(in profile page) -->
<% posts.each do |p| %>
    <% friend = get_user(p.user_id) %>
    <div class="panel panel-default" id="post_div_<%= p.id %>">
      <div class="panel-heading">
        <%= link_to "×", facebook_delete_post_path(:post_id => p.id), :remote => true, :class => 'close',
                    :style => 'width:12px;margin-top:5px;font-size:16px', :method => 'delete', :id => "post_delete_btn_#{p.id}" %>
        <div class="row" style="margin-top: 5px">
          <div class="col-sm-1">
            <% if friend.img_id %>
                <%= cl_image_tag friend.img_id, :width => 40, :height => 40, :class => 'center-block' %>
            <% else %>
                <%= image_tag('avatar.png', size: '40x40', class: 'center-block') %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <%= link_to "#{friend.name} #{friend.last_name}", facebook_profile_path, :id => 'post_user_name' %>
            <br>
            <p id="post_elapsed_time"><%= time_ago_in_words(p.created_at) %> ago</p>
          </div>
        </div>
      </div>
      <div class="panel-body post_panel">
        <%= p.post %>
        <div class="input-group-btn">
          <%= link_to facebook_like_post_path(:post_id => p.id), remote: true, :method => 'post', :class => 'post_button' do %>
              <span style="font-size: 12px" id="like_<%= p.id %>"><%= p.like if p.like && p.like > 0 %></span>
              <i class='glyphicon glyphicon-thumbs-up'></i>
          <% end %>
          <%= link_to facebook_dislike_post_path(:post_id => p.id), remote: true, :method => 'post', :class => 'post_button' do %>
              <span style="font-size: 12px" id="dislike_<%= p.id %>"><%= p.dislike if p.dislike && p.dislike < 0 %></span>
              <i class='glyphicon glyphicon-thumbs-down'></i>
          <% end %>
          <%= link_to facebook_share_post_path(:post_id => p.id), :method => 'post', :class => 'post_button' do %>
              <i class='glyphicon glyphicon-share'></i>
          <% end %>
        </div>
      </div>
      <div class="panel-footer">
        <div style="overflow-y: auto;max-height: 200px;overflow-x: hidden" id="comments_div_<%= p.id %>">
          <%= render partial: "comment", locals: {post: p} %>
        </div>
        <div class="input-group-btn">
          <%= form_tag(facebook_add_comment_path(:post_id => p.id), :method => 'post', :remote => true) do %>
              <%= text_field_tag :comment, nil, :placeholder => "Add Comment...", :class => 'form-control' %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>