<div class="row">

  <!-- LEFT COLUMN -->
  <div class="col-md-3 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editAvatarModal" role="button" data-toggle="modal" class="pull-right">Change</a>
        <% end %>
        <h4>Photo</h4>
      </div>
      <div class="panel-body">
        <% if user.img_id %>
            <%= cl_image_tag user.img_id, :width => 160, :height => 160, :class => 'profile_image' %>
        <% else %>
            <%= image_tag('avatar.png', size: '160x160', class: 'profile_image') %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editBasicModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
        <% end %>
        <h4><i class="glyphicon glyphicon-pushpin" style="color:#000000"></i>&nbsp;Basic</h4>
      </div>
      <div class="panel-body">
        <% if user %>
            <table class="table">
              <tr>
                <td class="info_head">Name</td>
                <td><%= user.name %>&nbsp;<%= user.last_name %></td>
              </tr>
              <tr>
                <td class="info_head">Mail</td>
                <td><%= user.mail %></td>
              </tr>
              <tr>
                <td class="info_head">Birth</td>
                <td><%= user.birth %></td>
              </tr>
              <tr>
                <td class="info_head">Gender</td>
                <td><%= user.gender %></td>
              </tr>
            </table>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editJobModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
        <% end %>
        <h4><i class="glyphicon glyphicon-briefcase" style="color:#2262dd"></i>&nbsp;Job</h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if user && user.job %>
              <table class="table">
                <tr>
                  <td class="info_head">Company</td>
                  <td><%= user.job.company %></td>
                </tr>
                <tr>
                  <td class="info_head">Title</td>
                  <td><%= user.job.title %></td>
                </tr>
                <tr>
                  <td class="info_head">Begin</td>
                  <td><%= user.job.begin_date %></td>
                </tr>
                <tr>
                  <td class="info_head">End</td>
                  <td><%= user.job.end_date %></td>
                </tr>
              </table>
          <% else %>
              <p class="notice">No Jobs</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <!-- MIDDLE COLUMN -->
  <div class="col-md-6 col-sm-6">

    <%= render partial: "post_form", locals: {is_home: false} %>

    <div id="post_container">
      <!-- All post of user will be shown -->
      <%= render partial: "post", locals: {user: user, is_home: false} %>
    </div>

  </div>

  <!-- MIDDLE COLUMN -->
  <div class="col-md-3 col-sm-6">


    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editFriendsModal" role="button" data-toggle="modal" class="pull-right">Manage</a>
        <% end %>
        <h4><i class="glyphicon glyphicon-user" style="color:#dd0309"></i>&nbsp;Friends</h4>
      </div>
      <div class="panel-body">
        <% if user && !user.friends.empty? %>
            <% get_friends.take(3).each do |f| %>
                <div class="row" style="margin-top: 5px">
                  <div class="col-sm-4 src-res-img">
                    <% if f.img_id %>
                        <%= cl_image_tag f.img_id, :width => 50, :height => 50, :class => 'center-block' %>
                    <% else %>
                        <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
                    <% end %>
                  </div>
                  <div class="col-sm-6 src-res-group">
                    <%= link_to "#{f.name} #{f.last_name}", facebook_friend_profile_path(:friend_id => f.id), :class => 'src-res-name' %>
                  </div>
                </div>
            <% end %>
        <% else %>
            <p class="notice">No Friends</p>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editEducationModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
        <% end %>
        <h4><i class="glyphicon glyphicon-book" style="color:#dd0309"></i>&nbsp;Education</h4>
      </div>
      <div class="panel-body">
        <% if user && user.education %>
            <table class="table">
              <tr>
                <td class="info_head">College</td>
                <td><%= user.education.college %></td>
              </tr>
              <tr>
                <td class="info_head">High School</td>
                <td><%= user.education.high_school %></td>
              </tr>
            </table>
        <% else %>
            <p class="notice">No Education</p>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if is_user %>
            <a href="#editContactModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
        <% end %>
        <h4><i class="glyphicon glyphicon-earphone" style="color:#2262dd"></i>&nbsp;Contact</h4>
      </div>
      <div class="panel-body">
        <% if user && user.contact %>
            <table class="table">
              <tr>
                <td class="info_head">Phone</td>
                <td><%= user.contact.tel %></td>
              </tr>
              <tr>
                <td class="info_head">City</td>
                <td> <%= user.contact.city %></td>
              </tr>
              <tr>
                <td class="info_head">Country</td>
                <td> <%= user.contact.country %></td>
              </tr>
              <tr>
                <td class="info_head">Address</td>
                <td><%= user.contact.address %></td>
              </tr>
            </table>
        <% else %>
            <p class="notice">No Contact</p>
        <% end %>
      </div>
    </div>
  </div>
</div>