<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i class="glyphicon glyphicon-search" style="color:#dd0309"></i>&nbsp;All Results</h4>
  </div>
  <div class="panel-body">
    <% friends.each do |f| %>
        <div class="row">
          <div class="col-sm-2 src-res-img">
            <% if f.img_id %>
                <%= cl_image_tag f.img_id, :width => 50, :height => 50, :class => 'center-block' %>
            <% else %>
                <%= image_tag('avatar.png', size: '50x50', class: 'center-block') %>
            <% end %>
          </div>
          <div class="col-sm-4 src-res-group">
            <%= link_to "#{f.name} #{f.last_name}", facebook_friend_profile_path(:friend_id => f.id), :class => 'src-res-name' %>
            <br>
            <p class="src-res-info"><%= f.mail %></p>
            <p class="src-res-info"><%= f.contact.city if f.contact %></p>
          </div>
          <div class="col-sm-3 pull-right">
            <% if !is_request_sent(f.id) && !is_friend(f.id) && f.id != @user.id %>
                <%= button_to "Add Friend", {:action => 'send_request', :id => f.id}, :remote => true, :class => 'btn btn-default btn-sm',
                              :id => "add_friend_btn_#{f.id}" %>
            <% end %>
          </div>
        </div>
        <hr>
    <% end %>
  </div>
</div>

