<!-- HEADER -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <div class="row">

    <%= render partial: "left", locals: {user: @user} %>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">

      <%= render partial: "post_form", locals: {is_home: true} %>
      <!-- All post of user will be shown -->
      <div id="post_container">
        <%= render partial: "post", locals: {user: @user, is_home: true} %>
      </div>

    </div>

    <%= render partial: "right", locals: {user: @user} %>

  </div>

</div>

<!--FOOTER-->
<%= render partial: "footer", locals: {user: @user} %>

