<!-- HEADER, Includes css,js libs  -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <div class="row">

    <!-- LEFT COLUMN -->
    <div class="col-md-3 col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editAvatarModal" role="button" data-toggle="modal" class="pull-right">Change</a>
          <h4>Photo</h4>
        </div>
        <div class="panel-body">
          <%= cl_image_tag @user.img_id,:width => 160, :height => 160,:class=>'profile_image' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editBasicModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-pushpin" style="color:#000000"></i>&nbsp;Basic</h4>
        </div>
        <div class="panel-body">
          <% if @user %>
              <table class="table">
                <tr>
                  <td>Name</td>
                  <td><%= @user.name %>&nbsp;<%= @user.last_name %></td>
                </tr>
                <tr>
                  <td>Mail</td>
                  <td><%= @user.mail %></td>
                </tr>
                <tr>
                  <td>Birth</td>
                  <td><%= @user.birth %></td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td><%= @user.gender %></td>
                </tr>
              </table>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editJobModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-briefcase" style="color:#2262dd"></i>&nbsp;Job</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% if @user && !@user.jobs.empty? %>
                <% @user.jobs.take(3).each do |j| %>
                    <p class="list-group-item"><%= j.company %>(<%= j.title %>)</p>
                <% end %>
            <% else %>
                <p class="notice">No Jobs</p>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">

      <!-- All post of user will be shown -->
      <%= render partial: "post", locals: {user: @user, is_home: false} %>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-3 col-sm-6">


      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editFriendsModal" role="button" data-toggle="modal" class="pull-right">Manage</a>
          <h4><i class="glyphicon glyphicon-user" style="color:#dd0309"></i>&nbsp;Friends</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% if @user && !@user.friends.empty? %>
                <% get_friends.take(3).each do |f| %>
                    <a href="#" class="list-group-item"><%= f.name %>&nbsp;<%= f.last_name %></a>
                <% end %>
            <% else %>
                <p class="notice">No Friends</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editEducationModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-book" style="color:#dd0309"></i>&nbsp;Education</h4>
        </div>
        <div class="panel-body">
          <% if @user && @user.education %>
              <table class="table">
                <tr>
                  <td>College</td>
                  <td><%= @user.education.college %></td>
                </tr>
                <tr>
                  <td>High School</td>
                  <td><%= @user.education.high_school %></td>
                </tr>
              </table>
          <% else %>
              <p class="notice">No Education</p>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#editContactModal" role="button" data-toggle="modal" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-earphone" style="color:#2262dd"></i>&nbsp;Contact</h4>
        </div>
        <div class="panel-body">
          <% if @user && @user.contact %>
              <table class="table">
                <tr>
                  <td>Phone</td>
                  <td><%= @user.contact.tel %></td>
                </tr>
                <tr>
                  <td>City</td>
                  <td> <%= @user.contact.city %></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td> <%= @user.contact.country %></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td><%= @user.contact.address %></td>
                </tr>
              </table>
          <% else %>
              <p class="notice">No Contact</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editBasicModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Basic</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_basic', controller: 'profile'} do |f| %>
              <p>
                <%= f.text_field :name, :class => "input_field", :placeholder => "Name" %>
              </p>

              <p>
                <%= f.text_field :last_name, :class => "input_field", :placeholder => "Last Name" %>
              </p>

              <p>
                <%= f.label "Birthdate" %>
                <%= f.date_field :birth, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
              </p>

              <p>
                <%= f.select :gender, options_for_select(['Male', 'Female']), {:prompt => 'Select Gender'}, :class => "select_field" %>
              </p>

              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editJobModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Job</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_jobs', controller: 'profile'}, :remote => 'true' do |f| %>
              <% if !@user.jobs.empty? %>
                  <%= f.fields_for :jobs do |c| %>
                      <p>
                        <%= c.text_field :company, :class => "input_field", :placeholder => "Company" %>
                      </p>

                      <p>
                        <%= c.text_field :title, :class => "input_field", :placeholder => "Title" %>
                      </p>

                      <p>
                        <%= f.label "Begin Date" %>
                        <%= f.date_field :begin_date, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
                      </p>

                      <p>
                        <%= f.label "End Date" %>
                        <%= f.date_field :end_date, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
                      </p>
                  <% end %>
                  <p>
                    <%= f.button "Save", :class => 'btn' %>
                  </p>
              <% else %>

              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editContactModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Contact</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_contact', controller: 'profile'} do |f| %>
              <%= f.fields_for :contact do |c| %>
                  <p>
                    <%= c.telephone_field :tel, :class => "input_field" %>
                  </p>

                  <p>
                    <%= c.text_field :city, :class => "input_field", :placeholder => "City" %>
                  </p>

                  <p>
                    <%= c.text_field :country, :class => "input_field", :placeholder => "Country" %>
                  </p>

                  <p>
                    <%= c.text_field :address, :class => "input_field", :placeholder => "Address" %>
                  </p>
              <% end %>
              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Education</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editFriendsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Manage Friends</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

        </div>
      </div>
    </div>
  </div>
</div>



<!-- CHANGE PROFILE DIALOG -->
<div id="editAvatarModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Change Photo</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_tag({:action => 'upload_photo', :controller => 'profile'}, :method => :post) do %>
              <%= cl_image_upload_tag(:image_id) %>
              <%= submit_tag "Save" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>