<!-- HEADER, Includes css,js libs  -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <%= render partial: "profile", locals: {user: @user, is_user: true} %>
  <!--FOOTER-->
  <%= render partial: "footer" %>

</div>

<!-- EDIT DIALOG -->
<div id="editBasicModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Basic</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_basic', controller: 'profile'} do |f| %>
              <p>
                <%= f.text_field :name, :class => "input_field", :placeholder => "Name" %>
              </p>

              <p>
                <%= f.text_field :last_name, :class => "input_field", :placeholder => "Last Name" %>
              </p>

              <p>
                <%= f.label "Birthdate" %>
                <%= f.date_field :birth, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
              </p>

              <p>
                <%= f.select :gender, options_for_select(['Male', 'Female']), {:prompt => 'Select Gender'}, :class => "select_field" %>
              </p>

              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editJobModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Job</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <% if @user.job %>
              <%= form_tag(url_for(action: 'update_job', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= text_field_tag :company, nil, :placeholder => "Company", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :title, nil, :placeholder => "Title", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= label_tag "Begin Date" %>
                    <%= date_field_tag :begin, nil, :class => 'form-control' %>
                  </p>

                  <p>
                    <%= label_tag "End Date" %>
                    <%= date_field_tag :end, nil, :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_job', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= text_field_tag :company, nil, :placeholder => "Company", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :title, nil, :placeholder => "Title", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= date_field_tag :begin, nil, :class => 'form-control' %>
                  </p>

                  <p>
                    <%= date_field_tag :end, nil, :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editContactModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Contact</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <% if @user.contact %>
              <%= form_tag(url_for(action: 'update_contact', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= phone_field_tag :tel, nil, :placeholder => "Phone Number", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :city, nil, :placeholder => "City", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :country, nil, :placeholder => "Country", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :address, nil, :placeholder => "Address", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_contact', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= phone_field_tag :tel, nil, :placeholder => "Phone Number", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :city, nil, :placeholder => "City", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :country, nil, :placeholder => "Country", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :address, nil, :placeholder => "Address", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Education</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <% if @user.education %>
              <%= form_tag(url_for(action: 'update_education', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= text_field_tag :high_school, nil, :placeholder => "High School", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :college, nil, :placeholder => "College", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_education', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= text_field_tag :high_school, nil, :placeholder => "High School", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :college, nil, :placeholder => "College", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editFriendsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Manage Friends</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <% if @user && !@user.friends.empty? %>
              <%= form_tag(url_for(action: 'delete_friend', controller: 'profile'), :method => :delete) do %>
                  <table class="table">
                    <tr>
                      <td>Name</td>
                      <td>Delete</td>
                    </tr>
                    <% get_friends.each do |f| %>
                        <tr>
                          <td><%= f.name %>&nbsp;<%= f.last_name %></td>
                          <td><%= check_box_tag "friend_ids[#{f.id}]", f.id, :name => "friend_ids[]" %></td>
                        </tr>
                    <% end %>
                  </table>
                  <%= button_tag "Apply", :class => 'btn' %>
              <% end %>
          <% else %>
              <p class="notice">No Friends</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CHANGE PROFILE DIALOG -->
<div id="editAvatarModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Change Photo</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_tag({:action => 'upload_photo', :controller => 'profile'}, :method => :post, :style => 'display:flex') do %>
              <%= cl_image_upload_tag(:image_id) %>
              <%= submit_tag "Save" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





