<!-- HEADER, Includes css,js libs  -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <%= render partial: "profile", locals: {user: @user, is_user: true} %>

</div>

<!-- EDIT DIALOG -->
<div id="editBasicModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Basic</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_basic', controller: 'profile'} do |f| %>
              <p>
                <%= f.text_field :name, :class => "input_field", :placeholder => "Name" %>
              </p>

              <p>
                <%= f.text_field :last_name, :class => "input_field", :placeholder => "Last Name" %>
              </p>

              <p>
                <%= f.label "Birthdate" %>
                <%= f.date_field :birth, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
              </p>

              <p>
                <%= f.select :gender, options_for_select(['Male', 'Female']), {:prompt => 'Select Gender'}, :class => "select_field" %>
              </p>

              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editJobModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Job</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_jobs', controller: 'profile'}, :remote => 'true' do |f| %>
              <% if !@user.jobs.empty? %>
                  <%= f.fields_for :jobs do |c| %>
                      <p>
                        <%= c.text_field :company, :class => "input_field", :placeholder => "Company" %>
                      </p>

                      <p>
                        <%= c.text_field :title, :class => "input_field", :placeholder => "Title" %>
                      </p>

                      <p>
                        <%= f.label "Begin Date" %>
                        <%= f.date_field :begin_date, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
                      </p>

                      <p>
                        <%= f.label "End Date" %>
                        <%= f.date_field :end_date, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
                      </p>
                  <% end %>
                  <p>
                    <%= f.button "Save", :class => 'btn' %>
                  </p>
              <% else %>

              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editContactModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Contact</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_for @user, url: {action: 'update_contact', controller: 'profile'} do |f| %>
              <%= f.fields_for :contact do |c| %>
                  <p>
                    <%= c.telephone_field :tel, :class => "input_field" %>
                  </p>

                  <p>
                    <%= c.text_field :city, :class => "input_field", :placeholder => "City" %>
                  </p>

                  <p>
                    <%= c.text_field :country, :class => "input_field", :placeholder => "Country" %>
                  </p>

                  <p>
                    <%= c.text_field :address, :class => "input_field", :placeholder => "Address" %>
                  </p>
              <% end %>
              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Education</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editFriendsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Manage Friends</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">

          <% if @user && !@user.friends.empty? %>
              <%= form_tag(url_for(action: 'delete_friend', controller: 'profile'), :method => :delete) do %>
                  <table class="table">
                    <tr>
                      <td>Name</td>
                      <td>Delete</td>
                    </tr>
                    <% get_friends.each do |f| %>
                        <tr>
                          <td><%= f.name %>&nbsp;<%= f.last_name %></td>
                          <td><%= check_box_tag "friend_ids[#{f.id}]", f.id, :name => "friend_ids[]" %></td>
                        </tr>
                    <% end %>
                  </table>
                  <%= button_tag "Apply", :class => 'btn' %>
              <% end %>
          <% else %>
              <p class="notice">No Friends</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CHANGE PROFILE DIALOG -->
<div id="editAvatarModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Change Photo</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <%= form_tag({:action => 'upload_photo', :controller => 'profile'}, :method => :post) do %>
              <%= cl_image_upload_tag(:image_id) %>
              <%= submit_tag "Save" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>