<!-- HEADER, Includes css,js libs  -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <div class="row">

    <!-- LEFT COLUMN -->
    <div class="col-md-3 col-sm-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">Edit</a>
          <h4>Photo</h4>
        </div>
        <div class="panel-body">
          <%= image_tag("avatar.png", :size => "128x128", :class => "profile_image") %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-pushpin" style="color:#000000"></i>&nbsp;Basic</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Request 1</a>
            <a href="" class="list-group-item">Request 2</a>
            <a href="" class="list-group-item">Request 3</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">View all</a>
          <h4><i class="glyphicon glyphicon-briefcase" style="color:#2262dd"></i>&nbsp;Job</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Request 1</a>
            <a href="" class="list-group-item">Request 2</a>
            <a href="" class="list-group-item">Request 3</a>
          </div>
        </div>
      </div>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-6 col-sm-6">

      <!-- All post of user will be shown -->
      <%= render partial: "post", locals: {user: @user, is_home: false} %>

    </div>

    <!-- MIDDLE COLUMN -->
    <div class="col-md-3 col-sm-6">


      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">Manage</a>
          <h4><i class="glyphicon glyphicon-user" style="color:#dd0309"></i>&nbsp;Friends</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <a href="" class="list-group-item">Message 1</a>
            <a href="" class="list-group-item">Message 2</a>
            <a href="" class="list-group-item">Message 3</a>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-book" style="color:#dd0309"></i>&nbsp;Education</h4>
        </div>
        <div class="panel-body">
          <div class="clearfix"></div>
          More more more more...
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#" class="pull-right">Edit</a>
          <h4><i class="glyphicon glyphicon-earphone" style="color:#2262dd"></i>&nbsp;Contact</h4>
        </div>
        <div class="panel-body">
          <% if @user && @user.contact %>
              <strong class="list-group-item">Phone</strong>
              <%= @user.contact.tel %>
              <strong class="list-group-item">City</strong>
              <%= @user.contact.city %>
              <strong class="list-group-item">Country</strong>
              <%= @user.contact.country %>
              <strong class="list-group-item">Address</strong>
              <%= @user.contact.address %>
          <% else %>
              <table class="table">
                <tr>
                  <td>Phone</td>
                  <td></td>
                </tr>
                <tr>
                  <td>City</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td></td>
                </tr>
              </table>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>