<!-- HEADER, Includes css,js libs  -->
<%= render partial: "header", locals: {user: @user} %>

<!-- HOME -->
<div class="container" id="main">

  <%= render partial: "profile", locals: {user: @user, is_user: true} %>
  <!--FOOTER-->
  <%= render partial: "footer" %>

</div>

<!-- EDIT DIALOG -->
<div id="editBasicModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Basic</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <%= form_for @user, url: {action: 'update_basic', controller: 'profile'} do |f| %>
              <p>
                <%= f.text_field :name, :class => "input_field", :placeholder => "Name" %>
              </p>

              <p>
                <%= f.text_field :last_name, :class => "input_field", :placeholder => "Last Name" %>
              </p>

              <p>
                <%= f.label "Birthdate" %>
                <%= f.date_field :birth, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
              </p>

              <p>
                <%= f.select :gender, options_for_select(['Male', 'Female']), {:prompt => 'Select Gender'}, :class => "select_field" %>
              </p>

              <p>
                <%= f.button "Save", :class => 'btn' %>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editJobModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Job</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12r">
          <% if @user.job %>
              <%= form_tag(url_for(action: 'update_job', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= text_field_tag :company, nil, :placeholder => "Company", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :title, nil, :placeholder => "Title", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= label_tag "Begin Date" %>
                    <%= date_field_tag :begin, nil, :class => 'form-control' %>
                  </p>

                  <p>
                    <%= label_tag "End Date" %>
                    <%= date_field_tag :end, nil, :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_job', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= text_field_tag :company, nil, :placeholder => "Company", :class => 'form-control', :required => true %>
                  </p>

                  <p>
                    <%= text_field_tag :title, nil, :placeholder => "Title", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= date_field_tag :begin, nil, :class => 'form-control' %>
                  </p>

                  <p>
                    <%= date_field_tag :end, nil, :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editContactModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Update Contact</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <% if @user.contact %>
              <%= form_tag(url_for(action: 'update_contact', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= phone_field_tag :tel, nil, :placeholder => "Phone Number", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :city, nil, :placeholder => "City", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :country, nil, :placeholder => "Country", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :address, nil, :placeholder => "Address", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_contact', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= phone_field_tag :tel, nil, :placeholder => "Phone Number", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :city, nil, :placeholder => "City", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :country, nil, :placeholder => "Country", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :address, nil, :placeholder => "Address", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editEducationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Education</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <% if @user.education %>
              <%= form_tag(url_for(action: 'update_education', controller: 'profile'), :method => :patch) do %>
                  <p>
                    <%= text_field_tag :high_school, nil, :placeholder => "High School", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :college, nil, :placeholder => "College", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Update", :class => 'btn' %>
              <% end %>
          <% else %>
              <%= form_tag(url_for(action: 'add_education', controller: 'profile'), :method => :post) do %>
                  <p>
                    <%= text_field_tag :high_school, nil, :placeholder => "High School", :class => 'form-control' %>
                  </p>

                  <p>
                    <%= text_field_tag :college, nil, :placeholder => "College", :class => 'form-control' %>
                  </p>
                  <%= button_tag "Add", :class => 'btn' %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EDIT DIALOG -->
<div id="editFriendsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Manage Friends</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <% if @user && !@user.friends.empty? %>
              <%= form_tag(url_for(action: 'delete_friend', controller: 'profile'), :method => :delete) do %>
                  <table class="table">
                    <tr>
                      <td>Name</td>
                      <td>Delete</td>
                    </tr>
                    <% get_friends.each do |f| %>
                        <tr>
                          <td><%= f.name %>&nbsp;<%= f.last_name %></td>
                          <td><%= check_box_tag "friend_ids[#{f.id}]", f.id, false, :name => "friend_ids[]" %></td>
                        </tr>
                    <% end %>
                  </table>
                  <%= button_tag "Apply", :class => 'btn' %>
              <% end %>
          <% else %>
              <p class="notice">No Friends</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        // Cloudinary jQuery integration library uses jQuery File Upload widget
        // (see http://blueimp.github.io/jQuery-File-Upload/).
        // Any file input field with cloudinary-fileupload class is automatically
        // wrapped using the File Upload widget and configured for Cloudinary uploads.
        // You can further customize the configuration using .fileupload method
        // as we do below.
        $(".cloudinary-fileupload")
                .cloudinary_fileupload({
                    // Uncomment the following lines to enable client side image resizing and valiation.
                    // Make sure cloudinary/processing is included the js file
                    //disableImageResize: false,
                    // imageMaxWidth: 512,
                    //imageMaxHeight: 512,
                    //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
                    //maxFileSize: 2000000, // 2MB
                    dropZone: "#direct_upload",
                    start: function (e) {
                        $(".status").text("Starting upload...");
                    },
                    progress: function (e, data) {
                        $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
                    },
                    fail: function (e, data) {
                        $(".status").text("Upload failed");
                    }
                })
                .off("cloudinarydone").on("cloudinarydone", function (e, data) {
                    $(".status").text("Upload success");
                    $(".preview").html(
                            $.cloudinary.image(data.result.public_id, {
                                format: data.result.format, width: 128, height: 128, crop: "fit"
                            })
                    );
                });
    });
</script>

<!-- CHANGE PROFILE DIALOG -->
<div id="editAvatarModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="width:12px;">×</button>
        <h2 class="text-center">Change Photo</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <%= form_tag({:action => 'upload_photo', :controller => 'profile'}, :method => :post) do %>
              <div class="preview"></div>
              <%= cl_image_upload_tag(:image_id, :html => {:style => "margin: 10px 0px 10px 0px"}) %>
              <div id="direct_upload">
                <p>You can also drag and drop an image file into the area.</p>
              </div>
              <div class="status"></div>
              <%= submit_tag "Save", :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





