<%= stylesheet_link_tag "login" %>
<h1>Facebook</h1>
<h1>The Best Way to Socialize</h1>
<h2>Sign in to continue to Facebook</h2>
<div class="login">
  <%= image_tag("avatar.png", :size => "128x128", :class => "profile_image") %>
  <%= form_for :login, url: {action: "show"} do |f| %>
      <%= f.email_field :mail, :placeholder => "Mail", :class => "input_field" %>
      <%= f.password_field :password, :placeholder => "Password", :class => "input_field" %>
      <%= button_tag "Login" %>
  <% end %>
</div>
<%= link_to "Register", login_new_path, :style => "color: blue" %>