<%= stylesheet_link_tag "login" %>
<h1> <%= link_to image_tag("https://dl.dropboxusercontent.com/u/106945564/facelook/facelook_logo.png", :border => 0, :alt => '', :title => ''), facebook_home_path, :class => 'navbar-brand' %></h1>
<h1>The Best Way to Socialize</h1>
<h2>Sign in to continue to Facelook</h2>
<div class="login">
  <%= image_tag("avatar.png", :size => "128x128", :class => "profile_image") %>
  <%= form_tag(:action => 'login_try') do %>
      <%= email_field_tag :mail,nil, :placeholder => "E Mail", :class => "input_field" %>
      <%= password_field_tag :password,nil, :placeholder => "Password", :class => "input_field" %>
      <%= button_tag "Login" %>
  <% end %>
  <% if flash[:color]== "valid" %>
      <div class="valid_notice">
        <p><%= flash[:notice] %></p>
      </div>
  <% elsif flash[:color]== "invalid" %>
      <div class="invalid_notice">
        <p><%= flash[:notice] %></p>
      </div>
  <% end %>
</div>
<%= link_to "Register", login_new_path, :style => "color: blue" %>
