<h1 style="margin-top: 100px">Let's Get In</h1>
<div class="login register">
  <%= form_for @user, url: {action: "create"} do |f| %>
      <% if @user.errors.any? %>
          <div class="sign_up_errors">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.text_field :name, :class => "input_field", :placeholder => "Name" %>
      </p>
      <p>
        <%= f.text_field :last_name, :class => "input_field", :placeholder => "Last Name" %>
      </p>
      <p>
        <%= f.email_field :mail, :class => "input_field", :placeholder => "Mail" %>
      </p>
      <p>
        <%= f.password_field :password, :class => "input_field", :placeholder => "Password" %>
      </p>
      <p>
        <%= f.label "Birthdate" %>
        <%= f.date_field :birth, :class => "input_field", :placeholder => "gg.aa.yyyy" %>
      </p>
      <p>
        <%= f.select :gender, options_for_select(['Male', 'Female']), {:prompt => 'Select Gender'}, :class => "select_field" %>
      </p>
      <p>
        <%= f.button "Register" %>
      </p>
  <% end %>
</div>
<%= link_to "Back to Login", login_index_path %>
