<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>